

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
 <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Clients</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

